:root {
  --ee-color-brand-blue-100: #c8d0d9;
  --ee-color-brand-blue-200: #a9b6c5;
  --ee-color-brand-blue-300: #8a9cb1;
  --ee-color-brand-blue-400: #6b829d;
  --ee-color-brand-blue-500: #4c6889;
  --ee-color-brand-blue-600: #3c546f;
  --ee-color-brand-blue-700: #30465e;
  --ee-color-brand-blue-800: #243950;
  --ee-color-brand-blue-900: #182b3d;
  --ee-color-brand-brown-100: #f1e8e0;
  --ee-color-brand-brown-200: #e3cdbd;
  --ee-color-brand-brown-300: #d5b199;
  --ee-color-brand-brown-400: #c89576;
  --ee-color-brand-brown-500: #ba7a63;
  --ee-color-brand-brown-600: #a77f58;
  --ee-color-brand-brown-700: #8b6547;
  --ee-color-brand-brown-800: #704b36;
  --ee-color-brand-brown-900: #553225;
  --ee-color-utility-red-100: #fdecea;
  --ee-color-utility-red-200: #f9c9c3;
  --ee-color-utility-red-300: #f4a7a1;
  --ee-color-utility-red-400: #ef847e;
  --ee-color-utility-red-500: #ea615c;
  --ee-color-utility-red-600: #d32f2f;
  --ee-color-utility-red-700: #aa2323;
  --ee-color-utility-red-800: #811818;
  --ee-color-utility-red-900: #590c0c;
  --ee-color-utility-green-100: #e8f5e9;
  --ee-color-utility-green-200: #c8e6c9;
  --ee-color-utility-green-300: #a5d6a7;
  --ee-color-utility-green-400: #81c784;
  --ee-color-utility-green-500: #66bb6a;
  --ee-color-utility-green-600: #2e7d32;
  --ee-color-utility-green-700: #1b5e20;
  --ee-color-utility-green-800: #144d18;
  --ee-color-utility-green-900: #0e3c11;
  --ee-color-utility-yellow-100: #fff8e1;
  --ee-color-utility-yellow-200: #ffecb3;
  --ee-color-utility-yellow-300: #ffe082;
  --ee-color-utility-yellow-400: #ffd54f;
  --ee-color-utility-yellow-500: #ffca28;
  --ee-color-utility-yellow-600: #f9a825;
  --ee-color-utility-yellow-700: #f57f17;
  --ee-color-utility-yellow-800: #c67112;
  --ee-color-utility-yellow-900: #8c4d0e;
  --ee-color-utility-blue-100: #e3f2fd;
  --ee-color-utility-blue-200: #bbdefb;
  --ee-color-utility-blue-300: #90caf9;
  --ee-color-utility-blue-400: #64b5f6;
  --ee-color-utility-blue-500: #42a5f5;
  --ee-color-utility-blue-600: #1976d2;
  --ee-color-utility-blue-700: #1565c0;
  --ee-color-utility-blue-800: #0d47a1;
  --ee-color-utility-blue-900: #082d71;
  --ee-color-neutral-100: #f5f5f5;
  --ee-color-neutral-200: #e0e0e0;
  --ee-color-neutral-300: #cccccc;
  --ee-color-neutral-400: #b3b3b3;
  --ee-color-neutral-500: #999999;
  --ee-color-neutral-600: #7f7f7f;
  --ee-color-neutral-700: #666666;
  --ee-color-neutral-800: #4c4c4c;
  --ee-color-neutral-900: #333333;
  --ee-color-neutral-white: #ffffff;
  --ee-color-neutral-black: #1a1a1a;
  --ee-color-transparent-black-250: rgba(0, 0, 0, 0.25);
  --ee-color-transparent-black-500: rgba(0, 0, 0, 0.50);
  --ee-color-transparent-black-750: rgba(0, 0, 0, 0.75);
  --ee-color-transparent-black-900: rgba(0, 0, 0, 0.90);
  --ee-color-transparent-white-250: rgba(255, 255, 255, 0.25);
  --ee-color-transparent-white-500: rgba(255, 255, 255, 0.50);
  --ee-color-transparent-white-750: rgba(255, 255, 255, 0.75);
  --ee-color-transparent-white-900: rgba(255, 255, 255, 0.90);
  --ee-theme-color-content-default: #243950;
  --ee-theme-color-content-default-hover: #30465e;
  --ee-theme-color-content-subtle: #8a9cb1;
  --ee-theme-color-content-knockout: #ffffff;
  --ee-theme-color-content-brand: #704b36;
  --ee-theme-color-content-brand-hover: #553225;
  --ee-theme-color-content-disabled: #999999;
  --ee-theme-color-background-default: #ffffff;
  --ee-theme-color-background-subtle: #f1e8e0;
  --ee-theme-color-background-brand: #c8d0d9;
  --ee-theme-color-background-brand-knockout: #182b3d;
  --ee-theme-color-background-knockout: #333333;
  --ee-theme-color-background-disabled: #e0e0e0;
  --ee-theme-color-background-overlay-light: rgba(0, 0, 0, 0.25);
  --ee-theme-color-background-overlay-dark: rgba(0, 0, 0, 0.75);
  --ee-theme-color-border-default: #999999;
  --ee-theme-color-border-brand: #3c546f;
  --ee-theme-color-border-knockout: #ffffff;
  --ee-theme-color-icon-default: #704b36;
  --ee-theme-color-icon-default-hover: #553225;
  --ee-theme-color-icon-subtle: #a9b6c5;
  --ee-theme-color-icon-knockout: #f1e8e0;
  --ee-theme-color-icon-brand: #c89576;
  --ee-theme-color-icon-brand-hover: #8b6547;
  --ee-theme-button-color-background-default: #f1e8e0;
  --ee-theme-button-color-background-hover: #8b6547;
  --ee-theme-button-color-background-active: #704b36;
  --ee-theme-button-color-background-disabled: #cccccc;
  --ee-theme-button-color-content-default: #704b36;
  --ee-theme-button-color-content-hover: #ffffff;
  --ee-theme-button-color-content-active: #ffffff;
  --ee-theme-button-color-content-disabled: #7f7f7f;
  --ee-theme-button-color-border-default: #8b6547;
  --ee-theme-button-color-border-hover: #8b6547;
  --ee-theme-button-color-border-active: #704b36;
  --ee-theme-button-color-border-disabled: #cccccc;
  --ee-theme-button-primary-color-background-default: #3c546f;
  --ee-theme-button-primary-color-background-hover: #30465e;
  --ee-theme-button-primary-color-background-active: #243950;
  --ee-theme-button-primary-color-background-disabled: #b3b3b3;
  --ee-theme-button-primary-color-content-default: #ffffff;
  --ee-theme-button-primary-color-content-hover: #ffffff;
  --ee-theme-button-primary-color-content-active: #ffffff;
  --ee-theme-button-primary-color-content-disabled: #666666;
  --ee-theme-button-primary-color-border-default: #3c546f;
  --ee-theme-button-primary-color-border-hover: #30465e;
  --ee-theme-button-primary-color-border-active: #243950;
  --ee-theme-button-primary-color-border-disabled: #b3b3b3;
}