:root {
  --ee-border-radius-0: 0px;
  --ee-border-radius-2: 2px;
  --ee-border-radius-4: 4px;
  --ee-border-radius-8: 8px;
  --ee-border-radius-12: 12px;
  --ee-border-radius-16: 16px;
  --ee-border-radius-32: 32px;
  --ee-border-radius-round: 999px;
  --ee-theme-border-radius-none: 0px;
  --ee-theme-border-radius-sm: 2px;
  --ee-theme-border-radius-md: 4px;
  --ee-theme-border-radius-lg: 32px;
  --ee-theme-border-radius-full: 999px;
  --ee-border-width-1: 1px;
  --ee-border-width-2: 2px;
  --ee-border-width-4: 4px;
  --ee-border-width-8: 8px;
  --ee-theme-border-width-sm: 1px;
  --ee-theme-border-width-md: 2px;
  --ee-theme-border-width-lg: 4px;
  --ee-theme-border-width-xl: 8px;
  --ee-color-brand-blue-100: #c8d0d9;
  --ee-color-brand-blue-200: #a9b6c5;
  --ee-color-brand-blue-300: #8a9cb1;
  --ee-color-brand-blue-400: #6b829d;
  --ee-color-brand-blue-500: #4c6889;
  --ee-color-brand-blue-600: #3c546f;
  --ee-color-brand-blue-700: #30465e;
  --ee-color-brand-blue-800: #243950;
  --ee-color-brand-blue-900: #182b3d;
  --ee-color-brand-brown-100: #f1e8e0;
  --ee-color-brand-brown-200: #e3cdbd;
  --ee-color-brand-brown-300: #d5b199;
  --ee-color-brand-brown-400: #c89576;
  --ee-color-brand-brown-500: #ba7a63;
  --ee-color-brand-brown-600: #a77f58;
  --ee-color-brand-brown-700: #8b6547;
  --ee-color-brand-brown-800: #704b36;
  --ee-color-brand-brown-900: #553225;
  --ee-color-utility-red-100: #fdecea;
  --ee-color-utility-red-200: #f9c9c3;
  --ee-color-utility-red-300: #f4a7a1;
  --ee-color-utility-red-400: #ef847e;
  --ee-color-utility-red-500: #ea615c;
  --ee-color-utility-red-600: #d32f2f;
  --ee-color-utility-red-700: #aa2323;
  --ee-color-utility-red-800: #811818;
  --ee-color-utility-red-900: #590c0c;
  --ee-color-utility-green-100: #e8f5e9;
  --ee-color-utility-green-200: #c8e6c9;
  --ee-color-utility-green-300: #a5d6a7;
  --ee-color-utility-green-400: #81c784;
  --ee-color-utility-green-500: #66bb6a;
  --ee-color-utility-green-600: #2e7d32;
  --ee-color-utility-green-700: #1b5e20;
  --ee-color-utility-green-800: #144d18;
  --ee-color-utility-green-900: #0e3c11;
  --ee-color-utility-yellow-100: #fff8e1;
  --ee-color-utility-yellow-200: #ffecb3;
  --ee-color-utility-yellow-300: #ffe082;
  --ee-color-utility-yellow-400: #ffd54f;
  --ee-color-utility-yellow-500: #ffca28;
  --ee-color-utility-yellow-600: #f9a825;
  --ee-color-utility-yellow-700: #f57f17;
  --ee-color-utility-yellow-800: #c67112;
  --ee-color-utility-yellow-900: #8c4d0e;
  --ee-color-utility-blue-100: #e3f2fd;
  --ee-color-utility-blue-200: #bbdefb;
  --ee-color-utility-blue-300: #90caf9;
  --ee-color-utility-blue-400: #64b5f6;
  --ee-color-utility-blue-500: #42a5f5;
  --ee-color-utility-blue-600: #1976d2;
  --ee-color-utility-blue-700: #1565c0;
  --ee-color-utility-blue-800: #0d47a1;
  --ee-color-utility-blue-900: #082d71;
  --ee-color-neutral-100: #f5f5f5;
  --ee-color-neutral-200: #e0e0e0;
  --ee-color-neutral-300: #cccccc;
  --ee-color-neutral-400: #b3b3b3;
  --ee-color-neutral-500: #999999;
  --ee-color-neutral-600: #7f7f7f;
  --ee-color-neutral-700: #666666;
  --ee-color-neutral-800: #4c4c4c;
  --ee-color-neutral-900: #333333;
  --ee-color-neutral-white: #ffffff;
  --ee-color-neutral-black: #1a1a1a;
  --ee-color-transparent-black-250: rgba(0, 0, 0, 0.25);
  --ee-color-transparent-black-500: rgba(0, 0, 0, 0.50);
  --ee-color-transparent-black-750: rgba(0, 0, 0, 0.75);
  --ee-color-transparent-black-900: rgba(0, 0, 0, 0.90);
  --ee-color-transparent-white-250: rgba(255, 255, 255, 0.25);
  --ee-color-transparent-white-500: rgba(255, 255, 255, 0.50);
  --ee-color-transparent-white-750: rgba(255, 255, 255, 0.75);
  --ee-color-transparent-white-900: rgba(255, 255, 255, 0.90);
  --ee-theme-color-content-default: #704b36;
  --ee-theme-color-content-default-hover: #553225;
  --ee-theme-color-content-subtle: #8a9cb1;
  --ee-theme-color-content-disabled: #999999;
  --ee-theme-color-background-default: aqua;
  --ee-theme-color-background-subtle: #f1e8e0;
  --ee-theme-color-background-disabled: #e0e0e0;
  --ee-theme-color-background-overlay-light: rgba(0, 0, 0, 0.25);
  --ee-theme-color-background-overlay-dark: rgba(0, 0, 0, 0.75);
  --ee-theme-color-border-default: #999999;
  --ee-theme-color-icon-default: #704b36;
  --ee-theme-color-icon-default-hover: #553225;
  --ee-shadow-md-x: 2px;
  --ee-shadow-md-y: 2px;
  --ee-shadow-md-blur: 16px;
  --ee-shadow-md-spread: 0px;
  --ee-shadow-md-color: #0000000f;
  --ee-shadow-sm-x: 1px;
  --ee-shadow-sm-y: 1px;
  --ee-shadow-sm-blur: 4px;
  --ee-shadow-sm-spread: 2px;
  --ee-shadow-sm-color: #00000014;
  --ee-spacing-0: 0px;
  --ee-spacing-4: 4px;
  --ee-spacing-8: 8px;
  --ee-spacing-12: 12px;
  --ee-spacing-16: 16px;
  --ee-spacing-24: 24px;
  --ee-spacing-32: 32px;
  --ee-spacing-40: 40px;
  --ee-spacing-64: 64px;
  --ee-spacing-80: 80px;
  --ee-spacing-96: 96px;
  --ee-spacing-128: 128px;
  --ee-typography-font-family-montserrat: Montserrat, sans-serif;
  --ee-typography-font-weight-300: 300;
  --ee-typography-font-weight-800: 800;
  --ee-typography-font-size-12: 0.75rem;
  --ee-typography-font-size-14: 0.875rem;
  --ee-typography-font-size-16: 1rem;
  --ee-typography-font-size-18: 1.125rem;
  --ee-typography-font-size-20: 1.25rem;
  --ee-typography-font-size-24: 1.5rem;
  --ee-typography-font-size-28: 1.75rem;
  --ee-typography-font-size-32: 2rem;
  --ee-typography-font-size-48: 3rem;
  --ee-typography-font-size-56: 3.5rem;
  --ee-typography-text-transform-uppercase: uppercase;
  --ee-typography-text-transform-lowercase: lowercase;
  --ee-typography-text-transform-capitalize: capitalize;
  --ee-typography-text-transform-none: none;
  --ee-typography-line-height-16: 1rem;
  --ee-typography-line-height-20: 1.25;
  --ee-typography-line-height-24: 1.5rem;
  --ee-typography-line-height-28: 1.75rem;
  --ee-typography-line-height-32: 2rem;
  --ee-typography-line-height-36: 2.25rem;
  --ee-typography-line-height-48: 3rem;
  --ee-typography-line-height-56: 3.5rem;
  --ee-typography-line-height-64: 4rem;
  --ee-typography-line-height-72: 4.5rem;
  --ee-typography-line-height-110: 7rem;
  --ee-typography-letter-spacing-0: 0;
  --ee-typography-letter-spacing-2: 2px;
  --ee-typography-letter-spacing-minus-2: -2px;
  --ee-typography-letter-spacing-minus-1-half: -1.5px;
  --ee-typography-letter-spacing-minus-1: -1px;
  --ee-typography-letter-spacing-half: 0.5px;
  --ee-theme-typography-display-default-font-family: Montserrat, sans-serif;
  --ee-theme-typography-display-default-font-size: 3.5rem;
  --ee-theme-typography-display-default-font-weight: 800;
  --ee-theme-typography-display-default-line-height: 4rem;
  --ee-theme-typography-display-default-letter-spacing: -2px;
  --ee-theme-typography-display-default-text-transform: none;
  --ee-theme-typography-display-default-mobile-font-family: Montserrat, sans-serif;
  --ee-theme-typography-display-default-mobile-font-size: 2rem;
  --ee-theme-typography-display-default-mobile-font-weight: 800;
  --ee-theme-typography-display-default-mobile-line-height: 2.25rem;
  --ee-theme-typography-display-default-mobile-letter-spacing: -1.5px;
  --ee-theme-typography-display-default-mobile-text-transform: none;
  --ee-theme-typography-headline-font-family: Montserrat, sans-serif;
  --ee-theme-typography-headline-font-size: 1.75rem;
  --ee-theme-typography-headline-font-weight: 800;
  --ee-theme-typography-headline-line-height: 2rem;
  --ee-theme-typography-headline-letter-spacing: -1px;
  --ee-theme-typography-headline-text-transform: none;
  --ee-theme-typography-headline-mobile-font-family: Montserrat, sans-serif;
  --ee-theme-typography-headline-mobile-font-size: 1.5rem;
  --ee-theme-typography-headline-mobile-font-weight: 800;
  --ee-theme-typography-headline-mobile-line-height: 1.75rem;
  --ee-theme-typography-headline-mobile-letter-spacing: -1px;
  --ee-theme-typography-headline-mobile-text-transform: none;
  --ee-theme-typography-title-font-family: Montserrat, sans-serif;
  --ee-theme-typography-title-font-size: 1.75rem;
  --ee-theme-typography-title-font-weight: 300;
  --ee-theme-typography-title-line-height: 2rem;
  --ee-theme-typography-title-letter-spacing: -1px;
  --ee-theme-typography-title-text-transform: none;
  --ee-theme-typography-title-mobile-font-family: Montserrat, sans-serif;
  --ee-theme-typography-title-mobile-font-size: 1.5rem;
  --ee-theme-typography-title-mobile-font-weight: 300;
  --ee-theme-typography-title-mobile-line-height: 1.75rem;
  --ee-theme-typography-title-mobile-letter-spacing: -1px;
  --ee-theme-typography-title-mobile-text-transform: none;
  --ee-z-index-0: 0;
  --ee-z-index-100: 100;
  --ee-z-index-200: 200;
  --ee-z-index-300: 300;
  --ee-z-index-400: 400;
  --ee-z-index-500: 500;
  --ee-z-index-top: 99999;
  --ee-z-index-bottom: -100;
  --ee-theme-button-color-background-default: #f1e8e0;
  --ee-theme-button-color-background-hover: #8b6547;
  --ee-theme-button-color-background-knockout: #8b6547;
  --ee-theme-button-color-background-knockout-hover: #8b6547;
  --ee-theme-button-color-background-active: #704b36;
  --ee-theme-button-color-background-disabled: #cccccc;
  --ee-theme-button-color-content-default: #704b36;
  --ee-theme-button-color-content-hover: #ffffff;
  --ee-theme-button-color-content-knockout: #ffffff;
  --ee-theme-button-color-content-knockout-hover: #ffffff;
  --ee-theme-button-color-content-active: #ffffff;
  --ee-theme-button-color-content-disabled: #7f7f7f;
  --ee-theme-button-color-border-default: #8b6547;
  --ee-theme-button-color-border-hover: #8b6547;
  --ee-theme-button-color-border-knockout: #8b6547;
  --ee-theme-button-color-border-knockout-hover: #8b6547;
  --ee-theme-button-color-border-active: #704b36;
  --ee-theme-button-color-border-disabled: #cccccc;
  --ee-theme-box-shadow-md: 2px 2px 16px 0px #0000000f;
  --ee-theme-box-shadow-sm: 1px 1px 4px 2px #00000014;
}